.sliderbox{
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
}
.sliderbox_slider{
    display: flex;
    height:80%;
    position: relative;
    margin-top: 4vh;
}
.slider{
    display:flex;
    z-index: 0;
    animation:slidermove 10s alternate  3s infinite;
}

.slider:hover{
    animation:none;
}
@keyframes slidermove {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform:translateX(-33%);
    }
    100%{
        transform: translateX(-67%);
    }
}
.tab{
    position: absolute;
    z-index: 1;
    width:10%;
    margin-top:-4vh;
    height:53vh;
    text-align: center;
    background-color: rgb(236, 236, 236);
}

.right{
    margin-left: 90%;
}
.icon{
    font-size: 20px;
    margin-top: 100%;
}
.indication{
    margin-top: 4vh;
    width:100%;
    display: flex;
    justify-content:flex-start;
    margin-bottom: 4vh;
    margin-left: 47%;
}
.indication > button{
    width:15px;
    height:15px;
    border-radius: 80%;
    margin-left: 1vw;
    border: none;
    background-color: white;
}
