.slidercard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 6%; 
    width: 86vw;
}
.slidercard > span{
    font-family: inherit;
    font-size: 15px;
    width: 430px;
    margin-top: -1vh;
    color: #aaaa;
}
.slidercard > p{
    color:black;
    font-family: serif;
    font-style: italic;

}
.person{
    width: 90px;
    height: 90px;
    border: 6px solid white;
    border-radius: 50%;
    box-shadow: 0px 4px 24px 8px #aaaa;
}
@media (max-width:740px){
 .slidercard{
    width: 88vw;
    margin-left: 7%;
}   
}
@media (max-width:600px){
    .slidercard{
       width: 87vw;
       margin-left: 4%;
   }   
}
@media (max-width:470px){
    .slidercard{
        width: 86vw;
    margin-left: 2%;
    }
}
