.navbar{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}
.navbar_heading{
    width:30%;
    text-align: center;
    color:white;
}
.navbar_heading > h1{
    font-size: 30px; 
}
