.dropdown{
    display: flex;
    width: 45%;
    height: 100%;
    margin: auto;
}
.dropdown_list{
    display: flex;
    width: 100%;
    list-style:none;
    justify-content: space-between;
}
.dropdown_content2{
    width:5vw;
    display: flex;
}
.dropdownicon{
    font-size: 15px;
    margin-left: 0.5vw;
    width: 10px;
    margin-top: -1.5vh;
    height: 10px;
}

.submenuicon{
    font-size: 14px;
    font-weight: 600;
    margin-left: 3vw;
}

.dropdown_list > li{
    color: rgb(212, 212, 212);
    font-size: 14px; 
    position: relative;
}
.dropdown_menu {
    position: absolute;
    background-color: white;
    color: black;
    width: 12vw;
    text-align: center;
    height: 20vh;
    list-style: none;
    display: none;
    margin-top: 3vh;
    justify-content: space-between;
}
.dropdown_menu > li{
    width: 100%;
    text-align: left;
    margin: auto;
    font-size: 14px;
    margin-top: 3vh;
}
.dropdown_menulist{
    margin: auto;
}
.dropdown_menu2{
    position: relative;
    justify-content: space-between;
}
.dropdown_menu2_submenu{
    position: absolute;
    background-color: white;
    width: 12vw;
    height: 20vh;
    margin-top: -4vh;
    display:none;
    list-style: none;
    margin-left: 100%;
}
.dropdown_menu2_submenu > li{
    width: 100%;
    margin: auto;
    margin-top: 3vh;
    color: black;
    font-size: 14px;
    text-align: center;
}
.dropdown_list > li:hover{
    cursor: pointer;
    color:#f85a40;
}
.dropdown_content2:hover > .dropdown_menu{
    display: block;
    justify-content: space-between;
}
.dropdown_menu > li:hover{
    color: #f85a40;
    cursor: pointer;
} 
.dropdown_menu2:hover > .dropdown_menu2_submenu{
    display: block;
}

.dropdown_menu2_submenu > li:hover{
    color: #f85a40;
    cursor: pointer; 
}
@media (max-width:990px){
    .dropdown{
        display: none;
    }
    .dropdown_list{
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
    }
    .dropdown_list > li{
        color: black;
        margin-bottom: 3vh;
    }
    .submenuicon{
        font-size: 20px;
    }
    .dropdown_menu{
        position: static;
    height: 100%;
    margin-left: -17vh;
    }
    .dropdown_menu > li{
        font-size: 14px;
        text-align: left;
        width: 25vw;
    }
    .dropdown_menu2_submenu{
        position: static;
        height: 100%;
        margin-left:0%;
        margin-top: 2vh;
    }
    .dropdown_menu2_submenu > li{
        width: 100%;
        font-size: 14px;
        margin-left: -20%;
        text-align: left; 
    }
   
    .dropdown_menu2:hover > .dropdown_menu2_submenu{
        display: none;
    }
    .dropdown_content2:hover > .dropdown_menu{
        display: none;
    }
    .dropdownicon{
        font-size: 20px;
        margin-top: -1.25vh;
        margin-left: 1vh;
    }
    #exit{
        display: block;
    }
}