.growth_block{
    display: flex;
    justify-content: space-evenly;
}
.growth_block > .container{
    width:50%;
    margin-top:12vh;
    text-align: center;
    align-items: center;
    display: flex;
    color: white;
    flex-direction: column;
}
.growth_block > .container > h1{
    width:70%;
    font-size: 40px;
}
.growth_block > .container >p{
    width:70%;
    font-size: 17px;
}
.growth_block > .container > button{
    margin-top: 4vh;
    width:150px;
    height:50px;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    border:none;
    background-color: #f85a40;
}
.growth_block > .container > button:hover{
    background-color: #008374;
    border: 2px solid white;
    cursor: pointer;
}

@media (max-width:850px){
    .growth_block > .container{
        width:70%;
    }
    .pic_1 {
        display: none;
    }
    .pic_2{
        display: none;
    }
}