.mobilenavbar{
    display: none;
}
@media (max-width:990px){
    .mobilenavbar{
        display: block;
        width:40%;
        color: white;
        font-size: 35px;
        z-index: 2;
        margin-top: 4vh;
        height: 100%;
    }
    .bars{
        margin-left:60%;
    }
    .mobilenavbar:hover{
        cursor: pointer;
    }
    .ontoscreen{
        background-color: white;
        width: 100%;
        top: 0;
        height: 100%;
        position: fixed;
    }
    .ontoscreen > .cross{
        color:black;
        margin-top: 4vh;
        margin-left: 30%;
    }
    @keyframes fromright {
        from{
            transform: translateX(100%);

        }
        to{
            transform: translateX(-50%);
        }
    } 
    .ontoscreen > .dropdown{
        height: 60%;
        width:100%;
        margin-top: 2vh;
        display: flex;
    }
 
}
@media (max-width:650px){
    .mobilenavbar{
        margin-right: 10vw;
    }
}